<h1>Listing Restaurants</h1>

<%=link_to 'New Post', new_restaurant_path %>

<table>
	<tr>
	<th>Image</th>	
	<th>Name</th>
	<th>Description</th>
	<th>Address</th>
	<th>Phone</th></th>
  </tr>

		  <% @restaurants.each do |restaurant| %>
		    <tr>
			<td><%= image_tag restaurant.image_url(:thumb) %></td>
		      <td><%= restaurant.name %></td>
		      <td><%= restaurant.description %></td>
			  <td><%= restaurant.address %></td>
			  <td><%= restaurant.phone %></td>
			<td><%= link_to 'Show', restaurant_path(restaurant) %></td>
			<td><%= link_to 'Edit', edit_restaurant_path(restaurant)%></td>
			<td><%= link_to 'Destroy', restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" } %></td>
		    </tr>
		    <p>
			<%= f.label :image %>	
			<%= f.file_field :image %>
			</p>
		  <% end %>
		</table>
		
	