<!DOCTYPE html>
<html>
<head>
  <title>Fall2013JeffBender</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span9"><%= yield %></div>
		<div class="span3">	
			<h2>About Us</h2>
			hjerheiohjdwe nrweiuirh wehdifgjuh ehjtoiehtiuohjthegjffjgh ehtuiehtiuehtiehtiuh hertuerhtieuhtei jthiuhrithiuthieruhtiuerhtieurhtuierhtu erhtuhtuirhtjirehtuheruthetj  htrthuthreiuther  t ehtiuherthtuh r etheutherth ethtether heuh ut hueheuhert ueqhtuhtu thue heuhturhtu htuhteut h!
		</div>

	</div>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>	
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
<div id="owner_nav"
    <% if owner_signed_in? %>
  Logged in as <strong><%= current_owner.email %></strong>.
  <%= link_to 'Edit profile', edit_owner_registration_path %> |
  <%= link_to "Logout", destroy_owner_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_owner_registration_path %> |
  <%= link_to "Log in", new_owner_session_path %>
<% end %>	
</div>
</div>
</body>
</html>
